body {
  font-family: 'Arial', sans-serif; 
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
  /* border: 1px solid grey; */
}

.y-grid .tick line {
  stroke: #cccccc;     /* helles Grau */
  stroke-opacity: 0.5; /* Transparenz */
  stroke-width: 2;
}

/* senkrechte Achsenlinie verstecken */
 /* .y-grid path.domain { 
  stroke: none;   
 }   */

 /* größere Charts → größere Schrift */
.largeChart .axis text {
  font-size: 16px;
  font-weight: bold;
}

/* Tooltip-Stil */
.tooltip {

  font-size: 14px !important;  /* Setze die Schriftgröße des Tooltips */
  background-color: rgba(0, 0, 0, 0.8); /* Hintergrundfarbe */
  color: #fff;  /* Textfarbe */
  padding: 5px;  /* Padding */
  border-radius: 3px;  /* Abgerundete Ecken */
  visibility: hidden;  /* Standardmäßig unsichtbar */
  position: absolute;  /* Positionierung */
}

.axis-label {
  font-family: Arial, sans-serif;
  font-weight: bold;
  fill: black; /* Farbe des Titels */
}

/* Stil für das Dropdown-Feld selbst */
#selectButton {
  font-size: 16px; /* Beispielgröße: Passen Sie diese an */
  font-weight: bold;
  padding: 5px;   /* Optional: Verbessert die Klickfläche */
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
}

/* Stil für die Optionen im Dropdown (wird oft vom <select> geerbt, aber explizit ist besser) */
#selectButton option {
  font-size: 16px; /* Stellt sicher, dass auch die Texte in der Liste die Größe haben */
}

/* Stil für das Label */
/* Es hat keinen spezifischen Selektor, also sprechen wir das Label im Form-Container an */
#form label {
  font-size: 16px; /* Beispielgröße: Passen Sie diese an */
  font-weight: bold; 
}

/* Erhöht die Dicke der Hauptlinie der X-Achse (Domain Line) */
.x-axis .domain {
    stroke-width: 2px;
}

/* Erhöht die Dicke der Hauptlinie der Y-Achse */
.y-axis .domain {
    stroke-width: 2px;
}

/* Ändert die Dicke der kleinen Tick-Markierungen auf der X- und Y-Achse */
.axis line {
    stroke-width: 2px; /* Etwas dicker als der Standardwert (meist 1px) */
}